pytoniq==0.1.41
pytoniq_core
flask
flask-socketio
celery
firebase-admin
python-dotenv
requests
psutil==5.9.8
pyjwt
python-telegram-bot
paypalrestsdk
google-cloud-firestore
python-dateutil
cryptography
gevent==24.2.1
gevent-websocket==0.10.1
greenlet==3.0.3